<!DOCTYPE html>
<html>
  <head>
    <title>A GluMo: Non-invasive Glucose Monitor</title>
    <link rel = "stylesheets" href = "style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="vendor/device-mockups/device-mockups.min.css">
  </head>
  <body>
    <div class = "topnav">
      <a href = "#Login"><i class = "fa fa-fw fa-user"></i> Login </a>
      <a href = "info"><i class = "fa fa-fw fa-info"></i> Info </a>
      <a href = "records"><i class = "fa fa-fw fa-chart-bar"></i> Reports </a>
      <a href = "start"><i class = "fa fa-fw fa-plus"></i>New Glucose </a>
      <div class = "topnav-left">
        <a href = "home"><i class = "fa fa-fw fa-home"></i> </a>
      </div>
    </div>
    <div class = "title">
      <h1><center>Welcome to GluMo!</center></h1>
    </div>
    <div class = "information">
      <p1><center>ALWAYS KNOW YOUR GLUCOSE LEVEL PAINLESSLY</center></p1>
    </div>
<!-- This is the CSS code -->
<style>
body {
  background-image: url("https://emssound.net/wp-content/uploads/2018/02/Does-Sugar-Cause-T2D-1440x810.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0;
  font: 26px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #FF0000;
}

.title {
  font-size: 32px;
}

.information {
  font-size: 24px;
  letter-spacing: 0.2px;
}
.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topnav a:hover {
  background-color: #FFFFFF;
  color: black;
}

.topnav a:active {
  background-color: #31A6FF;
  color: white;
}

.topnav-left {
  float:left
}

</style>

</html>
